<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
  <head>
    {% include 'radiodesjeux/head' %}
    <title>{{show.name}} - Bonnes Ondes</title>
  </head>

  <body class="show">
    <div id="page">
      {% include 'radiodesjeux/header' %}

      <div id="content">
        <div class="description">
          {{show.description | textilize}}
        </div>

        <iframe id="live" src="" width="600px" height="300px" scrolling="no" frameborder="0" style="display: none;"></iframe>

        <script type="text/javascript">
          function stream_status(status) {
            if (status.up) {
              $('live').src = "/direct";
              $('live').show();
            } else {
              $('live').hide();
              $('live').src = "";
            }
          }
        </script>
        <script type="text/javascript" src="https://console.tryphon.eu/streams/1/status.js?callback=stream_status&refresh=60" defer="true"></script>

        <ul class="episodes">
          {% for episode in show.broadcasted_episodes limit: 10 %}
          <li>
            <h3><a href="{{episode.url_for}}">{{episode.title}}</a></h3>
            {{ episode.image.tag_for_thumb }}
            {{ episode.description|textilize|strip_tags|truncate:340 }}

            {% if episode.broadcasted_at %}
            <span class="broadcast_date">diffusé {{episode.broadcasted_at | date: 'le %d/%m/%Y'}}</span>
            {% endif %}

            <a class="button" href="{{episode.url_for}}">Ecoutez {{episode.title|truncate:30}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div id="sidebar">
        {% include 'radiodesjeux/sidebar' %}
      </div>

      {% include 'radiodesjeux/footer' %}
    </div>
  </body>
</html>
